header{
    nav{
       div{
        .navbar-brand{
            font-family: $fuente-principal;
            img{
                margin: 10px;
            }
        }
        .sidebar{
            background-color: whitesmoke;
           } 
           .offcanvas-header{
            h5{
               font-family: $fuente-principal;
            }
           }
       }
       .offcanvas-body{
        .navbar-nav{
            li{
                a{
                    font-family: $fuente-principal;
                    
                }
            }
        }
        .contact-button{
            .btn-contact{
                font-family: $fuente-principal;
                color: white;
                text-decoration: none;
                padding: 0.25rem 1rem;
                border-radius: 5px;
                background-color: $btn-color;
                box-shadow: none;
                transition: background-color 0.3s ease;
                &:hover{
                    background-color: $hover-btn-color;
                }
            }
        }
       }
    }
}